global:
  # use postgresql / elasticserach instead of aurora/ managed ES
  dev: true
  aws:
    enabled: true
  netPolicy:
    # TODO: Figure out netpols with local dbs
    enabled: false
    dbSubnet: ""
  environment: dev
  dictionaryUrl: https://s3.amazonaws.com/dictionary-artifacts/datadictionary/develop/schema.json
  # We disable portal by default to save $$$
  frontendRoot: gen3ff
  # Wildcard cert for  *.dev.planx-pla.net
  revproxyArn: arn:aws:acm:us-east-1:707767160287:certificate/798e629d-05ee-4bc5-b51f-a86861f29b68
  externalSecrets:
    deploy: true
    clusterSecretStoreRef: aws-secretsmanager
    dbCreate: true


ambassador:
  resources:
    requests:
      memory: "105Mi"
      cpu: "15m"

arborist:
  image:
    tag: master
  resources:
    requests:
      memory: "105Mi"
      cpu: "15m"

audit:
  image:
    tag: master
  enabled: true
  externalSecrets:
    createK8sAuditSecret: true
  resources:
    requests:
      memory: "105Mi"
      cpu: "15m"
  # image:
  #   repository: audit
  #   tag: local
  #   pullPolicy: Never

fence:
  usersync:
    usersync: true
    userYamlS3Path: s3://cdis-gen3-users/dev/user.yaml
  resources:
    requests:
      memory: "256Mi"
      cpu: "15m"
  image:
    tag: master

  # By default we rely on usersync, fill this out and disable usersync if you need to
  USER_YAML: |
    ""

  # -- (map) Public configuration settings for Fence app
  FENCE_CONFIG_PUBLIC:
    ENABLE_DB_MIGRATION: True
    ENABLE_PROMETHEUS_METRICS: True
    DEFAULT_LOGIN_OPTIONS: google
    S3_BUCKETS:
      cdis-presigned-url-test:
        role-arn: arn:aws:iam::707767160287:role/bucket_reader_writer_to_cdistest-presigned-url_role
        # Credentials pre-configured in aws-secrets-manager
        cred: cdistest
    LOGIN_OPTIONS:
      # Google login secret is pre-configured in aws secrets manager
       - name: 'Google Login'
         desc: 'description'
         idp: google

  externalSecrets:
      # -- (string) Will override the name of the aws secrets manager secret. 
    fenceJwtKeys: elise-fence-jwt
    # -- (string) Will override the name of the aws secrets manager secret. 
    fenceConfig: dev/fence-generic
    # -- (string) Will create the Helm "fence-config" secret even if Secrets Manager is enabled. 
    #This is helpful if you are wanting to use External Secrets for some, but not all secrets.
    createK8sFenceConfigSecret: false
    # -- (string) Will create the Helm "fence-jwt-keys" secret even if Secrets Manager is enabled. This is helpful if you are wanting to use External Secrets for some, but not all secrets.
    createK8sJwtKeysSecret: false
    # -- (string) Will create the Helm "google app creds" secret even if Secrets Manager is enabled. This is helpful if you are wanting to use External Secrets for some, but not all secrets.
    createK8sGoogleAppSecrets: true

frontend-framework:
  # image:
  #   tag: main
  #   repository:
  customConfig:
    enabled: true
  enabled: true
  resources:
    requests:
      memory: "256Mi"
      cpu: "15m"

hatchery:
  resources:
    requests:
      memory: "105Mi"
      cpu: "15m"
  image:
    tag: master
  hatchery:
    sidecarContainer:
      image: quay.io/cdis/gen3fuse-sidecar:master
      command:
        - /bin/bash
        - /sidecarDockerrun.sh
    containers:
      - target-port: 8888
        cpu-limit: "2"
        memory-limit: 3Gi
        name: "(Tutorials) Example Analysis Jupyter Lab Notebooks"
        image: quay.io/cdis/jupyter-superslim:1.0.5
        env:
          FRAME_ANCESTORS: https://{{ .Values.global.hostname }}
        args:
          - "--NotebookApp.base_url=/lw-workspace/proxy/"
          - "--NotebookApp.default_url=/lab"
          - "--NotebookApp.password=''"
          - "--NotebookApp.token=''"
          - "--NotebookApp.shutdown_no_activity_timeout=5400"
          - "--NotebookApp.quit_button=False"
        command:
          - start-notebook.sh
        path-rewrite: "/lw-workspace/proxy/"
        use-tls: "false"
        ready-probe: "/lw-workspace/proxy/"
        lifecycle-post-start:
          - "/bin/sh"
          - "-c"
          - export IAM=`whoami`; rm -rf /home/$IAM/pd/dockerHome; rm -rf /home/$IAM/pd/lost+found;
            ln -s /data /home/$IAM/pd/; true
        user-uid: 1000
        fs-gid: 100
        user-volume-location: "/home/jovyan/pd"
        gen3-volume-location: "/home/jovyan/.gen3"

portal:
  # Disable portal by default
  enabled: false
  # 
  # resources:
  #   requests:
  #     cpu: "15m"
  #     memory: 100Mi
  image:
    repository: quay.io/cdis/data-portal
    tag: master

etl:
  enabled: true
  etlMapping:
    mappings:
      - name: mmrf_case
        doc_type: case
        type: aggregator
        root: case
        props:
          - name: project_id
          - name: submitter_id
          - name: batch_id
          - name: disease_type
          - name: index_date
          - name: primary_site
      - name: mmrf_data_file
        doc_type: data_file
        type: collector
        root: None
        category: data_file
        props:
          - name: source_node
          - name: project_id
          - name: submitter_id
          - name: object_id
          - name: md5sum
          - name: file_name
          - name: file_size
          - name: data_format
          - name: data_type
          - name: data_category
          - name: experimental_strategy
          - name: platform

  # image:
  # tube:
  #repository: tube
  # tag: master
  esEndpoint: "gen3-elasticsearch-master"

guppy:
  enabled: false
  resources:
    requests:
      memory: "105Mi"
      cpu: "15m"
  image:
    repository: quay.io/cdis/guppy
    tag: master

indexd:
  image:
    tag: master
  resources:
    requests:
      memory: "105Mi"
      cpu: "15m"
  defaultPrefix: dev/
  externalSecrets:
    serviceCreds: "indexd-service-creds"

metadata:
  resources:
    requests:
      memory: "105Mi"
      cpu: "15m"
  # image:
  # repository:
  # tag:
  enabled: true
  externalSecrets:
    createK8sMetadataSecret: true
  useAggMds: "True"
  # -- (string) Namespace to use if AggMds is enabled.
  aggMdsNamespace: default
  aggMdsConfig: |
    {
      "gen3_commons": {
        "HEAL": {
          "mds_url": "https://data.midrc.org/", 
          "commons_url" : "data.midrc.org",
          "adapter": "gen3",
          "config" : {
            "guid_type": "discovery_metadata",
            "study_field": "gen3_discovery"
          },
        "keep_original_fields": false,
        "field_mappings" : {
        "authz": "path:authz",
        "tags": "path:tags",
        "_unique_id": "path:_unique_id",
        "study_id": "path:_unique_id",
        "study_description": "path:data_description",
        "full_name": "path:full_name",
        "short_name": "path:short_name",
        "commons": "Medical Imaging and Data Resource Center (MIDRC)",
        "study_url": "path:data_url",
        "_subjects_count" : {"path":"cases_count", "default" : 0 },
        "__manifest": "path:__manifest",
        "commons_url" : "data.midrc.org"
      }
      }
      },
      "adapter_commons": {}
    }

manifestservice:
  resources:
    requests:
      memory: "105Mi"
      cpu: "15m"

ssjdispatcher:
  enabled: false

sower:
  enabled: false

peregrine:
  resources:
    requests:
      memory: "105Mi"
      cpu: "15m"
  image:

revproxy:
  resources:
    requests:
      memory: "105Mi"
      cpu: "15m"

sheepdog:
  resources:
    requests:
      memory: "105Mi"
      cpu: "15m"
  image:
    tag: master

requestor:
  enabled: true

wts:
  image:
    tag: master
  resources:
    requests:
      memory: "105Mi"
      cpu: "15m"


# Database configuration

elasticsearch:
  persistence:
    enabled: true

# -- (map) To configure postgresql subchart
postgresql:
  primary:
    persistence:
      # -- (bool) Option to persist the dbs data.
      enabled: true
