ambassador:
  jupyterNamespace: aoliu
arborist:
  autoscaling:
    enabled: true
    maxReplicas: 4
    minReplicas: 2
    targetCPUUtilizationPercentage: 40
  enabled: true
  image:
    repository: 707767160287.dkr.ecr.us-east-1.amazonaws.com/gen3/arborist
    tag: "2023.04"
argo-wrapper:
  enabled: true
  image:
    repository: quay.io/cdis/argo-wrapper
    tag: master
arranger:
  enabled: true
  image:
    repository: quay.io/cdis/arranger
    tag: feat_indices
arranger-adminapi:
  enabled: true
  image:
    repository: quay.io/cdis/arranger-server
    tag: master
arranger-dashboard:
  enabled: true
  image:
    repository: quay.io/cdis/arranger-dashboard
    tag: master
audit:
  externalSecrets:
    auditG3auto: aoliu-audit-g3auto
  serviceAccount:
    annotations:
      eks.amazonaws.com/role-arn: arn:aws:iam::707767160287:role/devplanetv2--aoliu-helm--audit-sqs-receiver
aws-es-proxy:
  enabled: true
  esEndpoint: ""
  image:
    repository: quay.io/cdis/aws-es-proxy
    tag: "0.8"
dashboard:
  dashboardConfig:
    bucket: dashboard-707767160287-devplanetv1-gen3
    prefix: aoliu.planx-pla.net
  enabled: true
  image:
    repository: quay.io/cdis/gen3-statics
    tag: master
  serviceAccount:
    annotations:
      eks.amazonaws.com/role-arn: arn:aws:iam::707767160287:role/devplanetv2--aoliu-helm--dashboard-access
etl:
  esEndpoint: elasticsearch
  mappings:
    - aggregated_props:
        - fn: count
          name: _samples_count
          path: samples
        - fn: count
          name: _aliquots_count
          path: samples.aliquots
        - fn: count
          name: _submitted_methylations_count
          path: samples.aliquots.submitted_methylation_files
        - fn: count
          name: _submitted_copy_number_files_on_aliquots_count
          path: samples.aliquots.submitted_copy_number_files
        - fn: count
          name: _read_groups_count
          path: samples.aliquots.read_groups
        - fn: count
          name: _submitted_aligned_reads_count
          path: samples.aliquots.read_groups.submitted_aligned_reads_files
        - fn: count
          name: _submitted_unaligned_reads_count
          path: samples.aliquots.read_groups.submitted_unaligned_reads_files
        - fn: count
          name: _submitted_copy_number_files_on_read_groups_count
          path: samples.aliquots.read_groups.submitted_copy_number_files
        - fn: count
          name: _submitted_somatic_mutations_count
          path: samples.aliquots.read_groups.submitted_somatic_mutations
      doc_type: case
      flatten_props:
        - path: demographics
          props:
            - name: gender
              value_mappings:
                - female: F
                - male: M
            - name: race
              value_mappings:
                - american indian or alaskan native: Indian
            - name: ethnicity
            - name: year_of_birth
      joining_props:
        - index: file
          join_on: _case_id
          props:
            - fn: set
              name: data_format
              src: data_format
            - fn: set
              name: data_type
              src: data_type
      name: dev_case
      props:
        - name: submitter_id
        - name: project_id
        - name: disease_type
        - name: primary_site
      root: case
      type: aggregator
    - category: data_file
      doc_type: file
      injecting_props:
        case:
          props:
            - fn: set
              name: _case_id
              src: id
            - name: project_id
      name: dev_file
      props:
        - name: object_id
        - name: md5sum
        - name: file_name
        - name: file_size
        - name: data_format
        - name: data_type
        - name: state
      root: None
      target_nodes:
        - name: slide_image
          path: slides.samples.cases
      type: collector
fence:
  autoscaling:
    enabled: true
    maxReplicas: 3
    minReplicas: 2
    targetCPUUtilizationPercentage: 40
  enabled: true
  externalSecrets:
    createK8sGoogleAppSecrets: true
    fenceConfig: aoliu-fence-config
    fenceJwtKeys: aoliu-fence-jwt
  image:
    repository: quay.io/cdis/fence
    tag: master
fluentd:
  enabled: true
  image:
    repository: fluent/fluentd-kubernetes-daemonset
    tag: v1.2-debian-cloudwatch
global:
  aws:
    account: "707767160287"
    awsEsProxyRole: devplanetv2-esproxy-sa
    enabled: true
    hatchery_role: devplanetv2--aoliu-helm--hatchery-sa
    secretStoreServiceAccount:
      enabled: true
      name: "secret-store-sa"
      roleArn: arn:aws:iam::707767160287:role/devplanetv2-external-secrets-sa
  dev: false
  dictionaryUrl: https://s3.amazonaws.com/dictionary-artifacts/datadictionary/develop/schema.json
  environment: aoliu
  externalSecrets:
    deploy: true
  hostname: elise.planx-pla.net
  manifestGlobalExtraValues:
    es7: true
    kube_bucket: kube-elise-gen3
    logs_bucket: logs-elise-gen3
    sync_from_dbgap: "False"
    useryaml_s3path: s3://cdis-gen3-users/dev/user.yaml
  portalApp: gitops
  postgres:
    dbCreate: false
  revproxyArn: arn:aws:acm:us-east-1:707767160287:certificate/c676c81c-9546-4e9a-9a72-725dd3912bc8
guppy:
  authFilterField: auth_resource_path
  autoscaling:
    enabled: true
    maxReplicas: 3
    minReplicas: 2
    targetCPUUtilizationPercentage: 40
  configIndex: dev_case-array-config
  enabled: true
  esEndpoint: http://elasticsearch:9200
  image:
    repository: quay.io/cdis/guppy
    tag: feat_es7
  indices:
    - index: dev_case
      type: case
    - index: dev_file
      type: file
hatchery:
  enabled: true
  image:
    repository: quay.io/cdis/hatchery
    tag: master
indexd:
  autoscaling:
    enabled: true
    maxReplicas: 2
    minReplicas: 2
    targetCPUUtilizationPercentage: 40
  enabled: true
  externalSecrets:
    serviceCreds: aoliu-indexd-service-creds
  image:
    repository: quay.io/cdis/indexd
    tag: master
jupyterhub:
  enabled: true
  image:
    repository: quay.io/occ_data/jupyterhub
    tag: master
metadata:
  esEndpoint: http://elasticsearch:9200
  externalSecrets:
    metadataG3auto: aoliu-metadata-g3auto

peregrine:
  autoscaling:
    enabled: true
    maxReplicas: 4
    minReplicas: 2
    targetCPUUtilizationPercentage: 40
  enabled: true
  image:
    repository: quay.io/cdis/peregrine
    tag: master
pidgin:
  enabled: true
  image:
    repository: quay.io/cdis/pidgin
    tag: master
portal:
  autoscaling:
    enabled: true
    maxReplicas: 4
    minReplicas: 2
    targetCPUUtilizationPercentage: 40
  enabled: true
  gitops:
    json:
      "{\n  \"graphql\": {\n    \"boardCounts\": [\n      {\n        \"graphql\"\
      : \"_case_count\",\n        \"name\": \"Case\",\n        \"plural\": \"Cases\"\
      \n      },\n      {\n        \"graphql\": \"_experiment_count\",\n        \"\
      name\": \"Experiment\",\n        \"plural\": \"Experiments\"\n      },\n   \
      \   {\n        \"graphql\": \"_aliquot_count\",\n        \"name\": \"Aliquot\"\
      ,\n        \"plural\": \"Aliquots\"\n      }\n    ],\n    \"chartCounts\": [\n\
      \      {\n        \"graphql\": \"_case_count\",\n        \"name\": \"Case\"\n\
      \      },\n      {\n        \"graphql\": \"_experiment_count\",\n        \"\
      name\": \"Experiment\"\n      },\n      {\n        \"graphql\": \"_aliquot_count\"\
      ,\n        \"name\": \"Aliquot\"\n      }\n    ],\n    \"projectDetails\": \"\
      boardCounts\"\n  },\n  \"components\": {\n    \"appName\": \"Generic Data Commons\
      \ Portal\",\n    \"index\": {\n      \"introduction\": {\n        \"heading\"\
      : \"Data Commons\",\n        \"text\": \"The Generic Data Commons supports the\
      \ management, analysis and sharing of data for the research community.\",\n\
      \        \"link\": \"/submission\"\n      },\n      \"buttons\": [\n       \
      \ {\n          \"name\": \"Define Data Field\",\n          \"icon\": \"data-field-define\"\
      ,\n          \"body\": \"The Generic Data Commons define the data in a general\
      \ way. Please study the dictionary before you start browsing.\",\n         \
      \ \"link\": \"/DD\",\n          \"label\": \"Learn more\"\n        },\n    \
      \    {\n          \"name\": \"Explore Data\",\n          \"icon\": \"data-explore\"\
      ,\n          \"body\": \"The Exploration Page gives you insights and a clear\
      \ overview under selected factors.\",\n          \"link\": \"/explorer\",\n\
      \          \"label\": \"Explore data\"\n        },\n        {\n          \"\
      name\": \"Access Data\",\n          \"icon\": \"data-access\",\n          \"\
      body\": \"Use our selected tool to filter out the data you need.\",\n      \
      \    \"link\": \"/query\",\n          \"label\": \"Query data\"\n        },\n\
      \        {\n          \"name\": \"Submit Data\",\n          \"icon\": \"data-submit\"\
      ,\n          \"body\": \"Submit Data based on the dictionary.\",\n         \
      \ \"link\": \"/submission\",\n          \"label\": \"Submit data\"\n       \
      \ }\n      ]\n    },\n    \"navigation\": {\n      \"title\": \"Generic Data\
      \ Commons\",\n      \"items\": [\n        {\n          \"icon\": \"dictionary\"\
      ,\n          \"link\": \"/DD\",\n          \"color\": \"#a2a2a2\",\n       \
      \   \"name\": \"Dictionary\"\n        },\n        {\n          \"icon\": \"\
      exploration\",\n          \"link\": \"/explorer\",\n          \"color\": \"\
      #a2a2a2\",\n          \"name\": \"Exploration\"\n        },\n        {\n   \
      \       \"icon\": \"query\",\n          \"link\": \"/query\",\n          \"\
      color\": \"#a2a2a2\",\n          \"name\": \"Query\"\n        },\n        {\n\
      \          \"icon\": \"workspace\",\n          \"link\": \"/workspace\",\n \
      \         \"color\": \"#a2a2a2\",\n          \"name\": \"Workspace\"\n     \
      \   },\n        {\n          \"icon\": \"profile\",\n          \"link\": \"\
      /identity\",\n          \"color\": \"#a2a2a2\",\n          \"name\": \"Profile\"\
      \n        }\n      ]\n    },\n    \"topBar\": {\n      \"items\": [\n      \
      \  {\n          \"icon\": \"upload\",\n          \"link\": \"/submission\",\n\
      \          \"name\": \"Submit Data\"\n        },\n        {\n          \"link\"\
      : \"https://gen3.org/resources/user\",\n          \"name\": \"Documentation\"\
      \n        }\n      ]\n    },\n    \"login\": {\n      \"title\": \"Generic Data\
      \ Commons\",\n      \"subTitle\": \"Explore, Analyze, and Share Data\",\n  \
      \    \"text\": \"This website supports the management, analysis and sharing\
      \ of human disease data for the research community and aims to advance basic\
      \ understanding of the genetic basis of complex traits and accelerate discovery\
      \ and development of therapies, diagnostic tests, and other technologies for\
      \ diseases like cancer.\",\n      \"contact\": \"If you have any questions about\
      \ access or the registration process, please contact \",\n      \"email\": \"\
      support@datacommons.io\"\n    },\n    \"certs\": {},\n    \"footerLogos\": [\n\
      \      {\n        \"src\": \"/src/img/gen3.png\",\n        \"href\": \"https://ctds.uchicago.edu/gen3\"\
      ,\n        \"alt\": \"Gen3 Data Commons\"\n      },\n      {\n        \"src\"\
      : \"/src/img/createdby.png\",\n        \"href\": \"https://ctds.uchicago.edu/\"\
      ,\n        \"alt\": \"Center for Translational Data Science at the University\
      \ of Chicago\"\n      }\n    ]\n  },\n  \"requiredCerts\": [],\n  \"featureFlags\"\
      : {\n    \"explorer\": true,\n    \"noIndex\": true,\n    \"analysis\": false,\n\
      \    \"discovery\": false,\n    \"discoveryUseAggMDS\": false,\n    \"studyRegistration\"\
      : false\n  },\n  \"dataExplorerConfig\": {\n    \"charts\": {\n      \"project_id\"\
      : {\n        \"chartType\": \"count\",\n        \"title\": \"Projects\"\n  \
      \    },\n      \"_case_id\": {\n        \"chartType\": \"count\",\n        \"\
      title\": \"Cases\"\n      },\n      \"gender\": {\n        \"chartType\": \"\
      pie\",\n        \"title\": \"Gender\"\n      },\n      \"race\": {\n       \
      \ \"chartType\": \"bar\",\n        \"title\": \"Race\"\n      }\n    },\n  \
      \  \"filters\": {\n      \"tabs\": [\n        {\n          \"title\": \"Case\"\
      ,\n          \"fields\":[\n            \"project_id\",\n            \"gender\"\
      ,\n            \"race\",\n            \"ethnicity\"\n          ]\n        }\n\
      \      ]\n    },\n    \"table\": {\n      \"enabled\": false\n    },\n    \"\
      dropdowns\": {},\n    \"buttons\": [\t\n      {\t\n        \"enabled\": true,\t\
      \n        \"type\": \"data\",\t\n        \"title\": \"Download All Clinical\"\
      ,\t\n        \"leftIcon\": \"user\",\t\n        \"rightIcon\": \"download\"\
      ,\t\n        \"fileName\": \"clinical.json\",\t\n        \"dropdownId\": \"\
      download\",\t\n        \"tooltipText\": \"You have not selected any cases to\
      \ download. Please use the checkboxes on the left to select specific cases you\
      \ would like to download.\"\t\n      },\t\n      {\t\n        \"enabled\": false,\t\
      \n        \"type\": \"manifest\",\t\n        \"title\": \"Download Manifest\"\
      ,\t\n        \"leftIcon\": \"datafile\",\t\n        \"rightIcon\": \"download\"\
      ,\t\n        \"fileName\": \"manifest.json\",\t\n        \"dropdownId\": \"\
      download\"\t\n      },\t\n      {\t\n        \"enabled\": true,\t\n        \"\
      type\": \"export\",\t\n        \"title\": \"Export All to Terra\",\t\n     \
      \   \"rightIcon\": \"external-link\",\t\n        \"tooltipText\": \"You have\
      \ not selected any cases to export. Please use the checkboxes on the left to\
      \ select specific cases you would like to export.\"\t\n      },\t\n      {\t\
      \n        \"enabled\": true,\t\n        \"type\": \"export-to-pfb\",\t\n   \
      \     \"title\": \"Export to PFB\",\t\n        \"leftIcon\": \"datafile\",\t\
      \n        \"rightIcon\": \"download\"\t\n      },\t\n      {\t\n        \"enabled\"\
      : true,\t\n        \"type\": \"export-to-workspace\",\t\n        \"title\":\
      \ \"Export to Workspace\",\t\n        \"leftIcon\": \"datafile\",\t\n      \
      \  \"rightIcon\": \"download\"\t\n      }\t\n    ],    \n    \"guppyConfig\"\
      : {\n      \"dataType\": \"case\",\n      \"nodeCountTitle\": \"Cases\",\n \
      \     \"fieldMapping\": [\n        { \"field\": \"disease_type\", \"name\":\
      \ \"Disease type\" },\n        { \"field\": \"primary_site\", \"name\": \"Site\
      \ where samples were collected\"}\n      ],\n      \"manifestMapping\": {\n\
      \        \"resourceIndexType\": \"file\",\n        \"resourceIdField\": \"object_id\"\
      ,\n        \"referenceIdFieldInResourceIndex\": \"_case_id\",\n        \"referenceIdFieldInDataIndex\"\
      : \"_case_id\"\n      },\n      \"accessibleFieldCheckList\": [\"project_id\"\
      ],\n      \"accessibleValidationField\": \"project_id\"\n    }\n  },\n  \"fileExplorerConfig\"\
      : {\n    \"charts\": {\n      \"data_type\": {\n        \"chartType\": \"stackedBar\"\
      ,\n        \"title\": \"File Type\"\n      },\n      \"data_format\": {\n  \
      \      \"chartType\": \"stackedBar\",\n        \"title\": \"File Format\"\n\
      \      }\n    },\n    \"filters\": {\n      \"tabs\": [\n        {\n       \
      \   \"title\": \"File\",\n          \"fields\": [\n            \"project_id\"\
      ,\n            \"data_type\",\n            \"data_format\"\n          ]\n  \
      \      }\n      ]\n    },\n    \"table\": {\n      \"enabled\": true,\n    \
      \  \"fields\": [\n        \"project_id\",\n        \"file_name\",\n        \"\
      file_size\",\n        \"object_id\"\n      ]\n    },\n    \"dropdowns\": {},\n\
      \    \"guppyConfig\": {\n      \"dataType\": \"file\",\n      \"fieldMapping\"\
      : [\n        { \"field\": \"object_id\", \"name\": \"GUID\" }\n      ],\n  \
      \    \"nodeCountTitle\": \"Files\",\n      \"manifestMapping\": {\n        \"\
      resourceIndexType\": \"case\",\n        \"resourceIdField\": \"_case_id\",\n\
      \        \"referenceIdFieldInResourceIndex\": \"object_id\",\n        \"referenceIdFieldInDataIndex\"\
      : \"object_id\"\n      },\n      \"accessibleFieldCheckList\": [\"project_id\"\
      ],\n      \"accessibleValidationField\": \"project_id\",\n      \"downloadAccessor\"\
      : \"object_id\"\n    }\n  }\n}\n"
  image:
    repository: quay.io/cdis/data-portal
    tag: "2023.02"
revproxy:
  autoscaling:
    enabled: true
    maxReplicas: 2
    minReplicas: 2
    targetCPUUtilizationPercentage: 40
  enabled: true
  image:
    repository: quay.io/cdis/nginx
    tag: master
  ingress:
    aws:
      group: aoliu-helm
sheepdog:
  autoscaling:
    enabled: true
    maxReplicas: 1
    minReplicas: 2
    targetCPUUtilizationPercentage: 40
  enabled: true
  image:
    repository: quay.io/cdis/sheepdog
    tag: master
sower:
  enabled: true
  externalSecrets:
    pelicanserviceG3auto: aoliu-pelicanservice-g3auto
    sowerjobsG3auto: aoliu-sower-jobs-g3auto
  image:
    repository: quay.io/cdis/sower
    tag: master
  sowerConfig:
    - action: export
      container:
        cpu-limit: "1"
        env:
          - name: DICTIONARY_URL
            valueFrom:
              configMapKeyRef:
                key: dictionary_url
                name: manifest-global
          - name: GEN3_HOSTNAME
            valueFrom:
              configMapKeyRef:
                key: hostname
                name: manifest-global
          - name: ROOT_NODE
            value: case
        image: quay.io/cdis/pelican-export:master
        memory-limit: 4Gi
        name: job-task
        pull_policy: Always
        volumeMounts:
          - mountPath: /pelican-creds.json
            name: pelican-creds-volume
            readOnly: true
            subPath: config.json
          - mountPath: /peregrine-creds.json
            name: peregrine-creds-volume
            readOnly: true
            subPath: creds.json
      name: pelican-export
      restart_policy: Never
      volumes:
        - name: pelican-creds-volume
          secret:
            secretName: pelicanservice-g3auto
        - name: peregrine-creds-volume
          secret:
            secretName: peregrine-creds
    - action: import
      container:
        cpu-limit: "1"
        env:
          - name: DICTIONARY_URL
            valueFrom:
              configMapKeyRef:
                key: dictionary_url
                name: manifest-global
          - name: GEN3_HOSTNAME
            valueFrom:
              configMapKeyRef:
                key: hostname
                name: manifest-global
        image: quay.io/cdis/pelican-import:master
        memory-limit: 4Gi
        name: job-task
        pull_policy: Always
        volumeMounts:
          - mountPath: /sheepdog-creds.json
            name: sheepdog-creds-volume
            readOnly: true
            subPath: creds.json
      name: pelican-import
      restart_policy: Never
      volumes:
        - name: sheepdog-creds-volume
          secret:
            secretName: sheepdog-creds
spark:
  enabled: true
  image:
    repository: quay.io/cdis/gen3-spark
    tag: master
tube:
  enabled: true
  image:
    repository: quay.io/cdis/tube
    tag: feat_new-es-7
